@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #75C2F6;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    padding: 50px 70px;
    background-color: #1D5D9B;
    text-align: center;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.hidden__text {
    color: #fff;
    font-weight: 400;
    transition: .5s ease-in-out;
}

.propose{
    font-size: 60px;
    font-weight: 700;
    transition: .5s ease-in-out;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 32px;
    margin-top: 30px;
    background-color: #75C2F6;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    border-radius: 20px;
}

.hidden {
    display: none;
}

.baby {
    padding: 50px 0px;
}